.alll{
	color: blue;
 display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;

}
	
.text{
	position: absolute;
	width:	80%;
	
}

body {

  background-color: lightgray;
}

.label{
	

	}
	
input{
	color:gray;
	font-size: 30px;
	text-align: center;
	border-radius: 7%;
	border: outset 5px;
}

.cancel{
	position: relative;
	 
	left:90px;
	font-size: 20px;
	float:right;
	color: white;
	background-color: red;
	border-radius: 25%;
}

.bought{
	position: relative;
	
	left:-30px;
	font-size: 20px;
	float:right;
	border-radius: 15%;
}

.b1{
	position: absolute;
	color:white;
	font-size: 30px;
	background-color: #0065c9;
	right:0px;
	
}

.goodAmount{
	position: relative;
	 top: 25px;
	left:0px;
	font-size: 30px;
	text-align: center;
}

.increase{
	background-color: #00ff11;
	font-size: 20px;
	border-radius: 50%;
	color: white;
	 text-align: center;

}

.decrease{
	
	font-size: 20px;
	border-radius: 50%;
	color: white;
	background-color: #ff0318;
	 text-align: center;
}

.buyGood{
	font-size: 30px;
	text-align: right;
	
}

.goodName{
	position: relative;
	text-align: left;
	font-size: 30px;
	top:50px;
	
}
.сroosed{
position: relative;
	top: 10px; 
	left:0px;
}


.left{
	width:45%;
	min-width: 500px;
	height:	20%; min-height: 250px;
  
	background-color: white;
	
	left: 5%;
	border:	none;
	
	
	top: 60px;
	border-radius: 2%;
	
	-webkit-box-shadow: 0px 0px 50px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 50px -16px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 50px -16px rgba(0,0,0,0.75);
}
.right{
	box-sizing:	border-box;
	background-color: white;
  
  right: 5%;
  width: 40%;
  top: 60px;
  border: none;
  padding: 10px;
  border-radius: 2%;
  	-webkit-box-shadow: 0px 0px 50px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 50px -16px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 50px -16px rgba(0,0,0,0.75);
}

.lefthere{
	font-size: 30px;
	text-align: left;
}

.boughtme{
	font-size: 30px;
	text-align: left;
}

.goodsLeftCount{
	  background-color: orange; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  
  border-radius: 50%;
/*font-size: 20px;
	border-radius: 50%;
	color: black;
	background-color: orange;
	 text-align: center;
	  padding: 10px; */
}

.title{
background:	lightgray;
width:	80px;
height:	20px;
font-size:	20px;
margin:	5px;border-radius: 15%;
}
/*
badge cfg
*/
#badgeTilte {
  text-align: center;
}
#badge {
 background: #6200ff;
 color: black;
 padding: 0 20px;
 position: fixed;
  bottom: -50px;
  left:70px;
  border-radius:20px 20px 0 0;
  transition: all 2s ease;
  padding-bottom:10px;
}
#badge:hover {
  background: #4400ff;
  transform: translate(0, -50px);
}
#name {
	  font-size: 16px;
  font-weight: 500;
 display: block;
  padding-top: 3px;

}
/*
cfg end for badge
*/

/*font-size: 30px;
color:red; */
